$snow: #FFFAFB;
$middle-blue-green: #ABEDE2;
$darker-blue-green: #75D1C3;
$wintergreen-dream: #1A6868;
$yellow-orange: #FAB15A;
$congo-pink: #F88379;
$cinnabar: #F14434;
$jet: #2B2C28;
$black: #141414;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD89;
$gray: #0E0000;
$white-gray: #F4F4F4;
$dark-gray: #353639;
$light-gray: #6C757D;