<h1>likes test</h1>
  <% if current_user.likes.present? %>
    <% current_user.likes.each do |like| %>
      <%= like.clinic.name %>
    <% end %>
  <% else %>
  <h1>No liked clinics!</h1>
  <% end %>