<div className="search-bar">
  <%= form_tag clinics_path, method: :get do %>
    <%= hidden_field_tag :query,
    params[:query],
    class: "search form-control",
    placeholder: "Find by name or location",
    value: category
    %>
    <%= submit_tag category, class: "search-button" %>
  <% end %>
</div>