<h1>KenKo</h1>

<h2>Your guide to English-speaking clinics in Tokyo</h2>

<button id = "find-me">Show my location</button><br/>
<p id = "status"></p>
 <a id = "map-link" target="_blank"></a>

 <%= form_tag clinics_path, method: :get do %>
  <% select_tag "clinics", :query, params[:query]%>
 <% end %> 



<% if user_signed_in?%>
  <%= link_to "profile", user_path(current_user) %>
  <%= @user.latitude %>
  <%= @user.longitude %>
<% end %>

<p>Testing</p>