<section id="section">
  <div class="top-container">
      <h1 class="home">Kenko</h1>
      <h2 class="home">Find English-Speaking Clinics in Tokyo</h2>
  </div>
  <div class="logo-container">
    <%= image_tag "kenko-logo.png", :alt => "Kenko logo of a smartphone", :width => 300 %>
  </div>
  <div class="search-container">
    <%= render 'shared/search-bar' %>
  </div>
</section>
