<h1>KenKo, your guide to English-speaking clinics in Tokyo!</h1>

<% if user_signed_in?%>
  <%= link_to "profile", user_path(current_user) %>
  <%= @user.latitude %>
  <%= @user.longitude %>
<% end %>

