html {
  scroll-behavior: smooth;
}

.main {
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 15px;
}

h1 {
  color: $wintergreen-dream;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

h1.home {
  font-size: 96px;
  font-weight: bold;
  margin: 15px;
}

h2, h3, h4, h5, h6 {
  color: $wintergreen-dream;
  font-family: 'Oxygen', sans-serif;
}

h2.home {
  color: $jet;
  font-size: 30px;
  text-align: center;
  margin: 15px;
}

p {
  color: $jet;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  line-height: 26px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $wintergreen-dream;
}

a:hover {
  color: $darker-blue-green;
}

a:active {
  color: lightblue;
}

body {
  background-color: $snow;
  box-sizing: border-box;
  padding-bottom: 65px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
