.navbar {
  display: flex;
  flex-direction: row;
  left: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f0f0f0;
  color: #2b2c28;
  border: 1px solid rgb(235,235,235);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  justify-content: space-around;
  padding-bottom: 0.5em;
  h5 {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: $wintergreen-dream;
  }
  a:hover {
    color: $darker-blue-green;
  }
  a:active {
    color: lightblue;
  }
  .fas {
    color: $wintergreen-dream;
    font-size: 25px;
  }
  .far {
    color: $wintergreen-dream;
    font-size: 25px;
  }
  .fas:hover {
    color: $darker-blue-green;
  }
}

.browse-icon {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  padding: 0 15px;
  text-align: center;
}

.user-icon {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  padding: 0 15px;
  text-align: center;
}

.favorites-icon {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  padding: 0 15px;
  text-align: center;
}
