.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.search-input {
  color: #2B2C28;
  background-color: #f0f0f0;
  border: 3px solid lightblue;
  padding: 0.35em 0.75em;
  max-height: 3em;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  font-size: 1em;
  width: 50%;
}

.search-button {
  font-weight: bold;
  max-height: 3em;
  font-size: 1.1em;
  text-transform: uppercase;
  border-radius: 5px;
	background: #FAB15A;
  color: #2B2C28;
  border: none;
  padding: 0.35em 0.75em;
  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background: #E67E22;
}